body {
    background: #202020;
    animation: loading 1s 1;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    overflow: hidden; /*empeche de descendre la page*/
    user-select: none; /*empeche de selectionner du texte*/
    z-index: 1;
}

.retour {
    outline: none;
    color: #ffffff;
    background-color: #121212;
    border-radius: 0.5vh;
    padding: 0.5vh;
    margin-bottom: 2vh;
    font-size: 2vh;
    cursor: pointer;
    border: 1px solid grey;
}

.retour:hover {
    color: grey;
}

app_title {
    color: #D24D38;
    font-size: 6.5vh;
    border-radius: 10px;
    background-color: #121212;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-left: 5vh;
    margin-right: 5vh;
}

.emoji1 {
    transition: 1s;
}

.emoji1:hover {
    transform: scale(1.5);
}

.emoji2 {
    transition: 5s;
}
.emoji2:hover {
    transform: scale(10);
}

.champs {
    background-color: #242424;
    text-align: center;
    border-radius: 18px;
    padding: 1.5vh;
    margin: 3vh;
    box-shadow: 3px 10px 10px 0px #121212;
    margin-left: 50vh;
    margin-right: 50vh;
    border: 0.2vh solid black;
}

.selectionOption {
    outline: none;
    margin-right: 2vh;
    border: 0.2vh solid black;
}

.inputs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.cle {
    border-radius: 10px;
    padding: 1vh;
    background-color: #303030;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 2vh;
    border: 1px solid transparent;
}

.cle:hover {
    border: 1px solid #4c4c4c;
}

.inputCle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    outline: none;
    text-decoration: none;
}


.message {
    border-radius: 10px;
    padding: 1vh;
    background-color: #303030;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 2vh;
    margin-left: 2vh;
    border: 1px solid transparent;
}

.message:hover {
    border: 1px solid #4c4c4c;
}

.inputMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    outline: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #c7c7c7;
    text-decoration: none;
}

.decryptButtons {
    display: none;
}

.indicatifButton {
    border-radius: 10px;
    padding: 1vh;
    background-color: #303030;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 2vh;
    margin-left: 2vh;
    border: 1px solid transparent;
}

.indicatifButton:hover {
    border: 1px solid #4c4c4c;
}

.indicatif1Input {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    outline: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #c7c7c7;
    text-decoration: none;
}

.indicatif2Input {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    outline: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #c7c7c7;
    text-decoration: none;
}

.export {
    border-radius: 10px;
    padding: 1vh;
    background-color: #121212;
    outline: none;
    cursor: pointer;
    color: white;
    margin-left: 5vh;
    font-size: 2vh;
    border: 1px solid transparent;
    width: 13vh;
    animation: initial;
}

.export:hover {
    border: 1px solid #4c4c4c;
}

.button {
    text-align: center;
}

.crypt {
    color: #D39D57;
    background-color: #303030;
    font-size: 5vh;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
}

.crypt:hover {
    border: 1px solid #4c4c4c;
}

.decrypt {
    color: #D39D57;
    background-color: #303030;
    font-size: 5vh;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    display: none;
}

.decrypt:hover {
    border: 1px solid #4c4c4c;
}

.resultsCrypt {
    background-color: #242424;
    text-align: center;
    border-radius: 18px;
    padding: 1.5vh;
    margin: 3vh;
    box-shadow: 3px 10px 10px 0px #121212;
    margin-left: 45vh;
    margin-right: 45vh;
    border: 0.2vh solid black;
    height: 35vh;
}

.resultTitleCrypt {
    border-radius: 10px;
    padding: 1vh;
    background-color: #303030;
    color: white;
    border: 1px solid transparent;
    font-size: 2vh;
    margin-left: 35vh;
    margin-right: 35vh;
}

.resultsCryptContainer {
    display: flex;
    margin-top: 2vh;
    justify-content: center;
}

.indicatif1Title {
    padding: 1vh;
    background-color: #303030;
    color: grey;
    font-size: 2vh;
    border: 1px solid black;
    width: 20vh;
    margin-top: 5vh;
}

.indicatif1 {
    color: white;
}

.indicatif2Title {
    padding: 1vh;
    background-color: #303030;
    color: grey;
    font-size: 2vh;
    border: 1px solid black;
    width: 20vh;
    margin-top: 2vh;
}

.indicatif2 {
    color: white;
}

.messageChiffreDiv {
    padding: 1vh;
    background-color: #303030;
    border: 1px solid black;
    margin-left: 12.5vh;
}

.messageChiffreArea {
    font-size: 2vh;
    outline: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #c7c7c7;
    text-decoration: none;
}

.resultsDecrypt {
    background-color: #242424;
    text-align: center;
    border-radius: 18px;
    padding: 1.5vh;
    margin: 3vh;
    box-shadow: 3px 10px 10px 0px #121212;
    margin-left: 45vh;
    margin-right: 45vh;
    border: 0.2vh solid black;
    height: 35vh;
    display: none;
}

.resultTitleDecrypt {
    border-radius: 10px;
    padding: 1vh;
    background-color: #303030;
    color: white;
    border: 1px solid transparent;
    font-size: 2vh;
    margin-left: 35vh;
    margin-right: 35vh;
}

.resultsDecryptContainer {
    display: flex;
    margin-top: 2vh;
    justify-content: center;
}

.messageDechiffreTitle {
    padding: 1vh;
    background-color: #303030;
    color: grey;
    font-size: 2vh;
    border: 1px solid black;
    width: 20vh;
    margin-top: 2vh;
}

.verifIndicatif1Title  {
    padding: 1vh;
    background-color: #303030;
    color: grey;
    font-size: 2vh;
    border: 1px solid black;
    width: 20vh;
    margin-top: 2vh;
}

.verifIndicatif2Title {
    padding: 1vh;
    background-color: #303030;
    color: grey;
    font-size: 2vh;
    border: 1px solid black;
    width: 20vh;
    margin-top: 2vh;
}

.messageDechiffreDiv {
    padding: 1vh;
    background-color: #303030;
    border: 1px solid black;
    margin-left: 12.5vh;
}

.messageDechiffreArea {
    font-size: 2vh;
    outline: none;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #c7c7c7;
    text-decoration: none;
}

footer {
    background-color: #121212;
    height: 6.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.copyright {
    color: white;
    text-align: center;
    padding-top: 1.25%;
    font-size: 1.5vh;
}

/*Animations:*/

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clignotement {
  0% {
    background-color: #121212;
  }
  100% {
    background-color: #4e4e4e;
  }
}