body {
    font-family: 'Montserrat', sans-serif;
    animation: loading 1s 1;
    cursor: default;
    overflow: hidden; /*empeche de descendre la page*/
    user-select: none; /*empeche de selectionner du texte*/
    background-color: #202020;
    background-image: url("fonts/logo.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
  }

  .retour {
    outline: none;
    color: #ffffff;
    background-color: #121212;
    border-radius: 0.5vh;
    padding: 0.5vh;
    margin-bottom: 2vh;
    font-size: 2vh;
    cursor: pointer;
    border: 1px solid grey;
  }
  
  .retour:hover {
    color: grey;
  }
  
  .title {
    background: #121212;
    border-radius: 10px;
    top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vh;
    word-spacing: 10px;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 40vh;
    margin-right: 40vh;
    border: 1px solid black;
  }

  app_title {
    color: #D24D38;
    font-size: 6.5vh;
    border-radius: 10px;
    background-color: #121212;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-left: 5vh;
    margin-right: 5vh;
  }

  footer {
    background-color: #121212;
    height: 6.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  .copyright {
    color: white;
    text-align: center;
    padding-top: 1.25%;
    font-size: 1.5vh;
  }
  
  
  
  
  /*Animations:*/
  
  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }