body {
  font-family: 'Montserrat', sans-serif;
  animation: loading 1s 1;
  cursor: default;
  overflow: hidden; /*empeche de descendre la page*/
  user-select: none; /*empeche de selectionner du texte*/
  background-color: #202020;
  background-image: url("../fonts/logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
}

.title {
  background: #121212;
  border-radius: 10px;
  top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5vh;
  word-spacing: 10px;
  padding: 2vh;
  margin-top: 2vh;
  margin-left: 40vh;
  margin-right: 40vh;
  border: 1px solid black;
}

.question {
  background: #121212;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5vh;
  margin-left: 70vh;
  margin-right: 70vh;
  padding: 1vh;
  font-size: 5vh;
  border: 1px solid black;
}
.boutonQuestion {
  background: none;
  color: #D39D57;
  font-size: 5vh;
  cursor: pointer;
  border: transparent;
}

.question:hover {
  border: 1px solid #4c4c4c;
}

.boutons {
  text-align: center;
  position: relative;
  margin-top: 2vh;
  height: 80vh;

}

.boutonsbis {
  position: relative;
  margin-top: 5vh;
}

.baudelaire {
  width: 45vh;
  height: 45vh;
  font-size: 5vh;
  border-radius: 5vh;
  border: 0.2vh solid black;
  background: #121212;
  color: #D39D57;
  cursor: pointer;
}

.baudelaire:hover {
  border: 1px solid #4c4c4c;
}


.albanais {
  width: 45vh;
  height: 45vh;
  font-size: 5vh;
  border-radius: 5vh;
  margin-left: 15vh;
  font-size: 5vh;
  border-radius: 5vh;
  border: 0.2vh solid black;
  background: #121212;
  color: #D39D57;
  cursor: pointer;
}

.albanais:hover {
  border: 1px solid #4c4c4c;
}

footer {
  background-color: #121212;
  height: 6.5%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.copyright {
  color: white;
  text-align: center;
  padding-top: 1.25%;
  font-size: 1.5vh;
}




/*Animations:*/

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}